#outline {
  display: grid;
  grid-template-columns: 40em 20em 40em;
  grid-template-rows: 10em 30em 10em;
}

#calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  border: 3px solid rgb(94, 93, 93);
  border-radius: 25px;
  background-color: rgb(245, 255, 186);
}

#title {
  display: grid;
  justify-content: center;
  align-content: center;
}

#footerLeft {
  align-self: end;
}

#footerMiddle {
  align-self: end;
  text-align: center;
}

#footerRight {
  align-self: end;
  text-align: right;
}